[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "nvm"]
	path = nvm
	url = git://github.com/creationix/nvm.git
[submodule "pyenv"]
	path = pyenv
	url = git://github.com/yyuu/pyenv.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git://github.com/tmux-plugins/tpm.git
